@model GOTHelperEng.Models.MountainRange

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MountainRange</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MountainRangeId" />
            <div class="form-group">
                <label asp-for="MountainRangeName" class="control-label"></label>
                <input asp-for="MountainRangeName" class="form-control" />
            </div>
                <span asp-validation-for="MountainRangeName" class="text-danger"></span>
           
            <div class="form-group">
                <label asp-for="MountainRangeAbbr" class="control-label"></label>
                <input asp-for="MountainRangeAbbr" class="form-control" />
            </div>
                <span asp-validation-for="MountainRangeAbbr" class="text-danger"></span>
           
            <div class="form-group">
                <label asp-for="MountainAreaId" class="control-label"></label>
                <select asp-for="MountainAreaId" class="form-control" asp-items="ViewBag.MountainAreaId"></select>
            </div>
                <span asp-validation-for="MountainAreaId" class="text-danger"></span>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
