@model GOTHelperEng.Models.Position

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Position</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PositionId" />
            <div class="form-group">
                <label asp-for="StageNumber" class="control-label"></label>
                <input asp-for="StageNumber" class="form-control" />
            </div>
                <span asp-validation-for="StageNumber" class="text-danger"></span>

            <div class="form-group">
                <label asp-for="Direction" class="control-label"></label>
                <input asp-for="Direction" class="form-control" />
            </div>
                <span asp-validation-for="Direction" class="text-danger"></span>
           
            <div class="form-group">
                <label asp-for="TripId" class="control-label"></label>
                <select asp-for="TripId" class="form-control" asp-items="ViewBag.TripId"></select>
            </div>
                <span asp-validation-for="TripId" class="text-danger"></span>
           
            <div class="form-group">
                <label asp-for="StageId" class="control-label"></label>
                <select asp-for="StageId" class="form-control" asp-items="ViewBag.StageId"></select>
            </div>
                <span asp-validation-for="StageId" class="text-danger"></span>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
