@model GOTHelperEng.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tourist</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-control">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
            </div>
                <span asp-validation-for="Email" class="text-danger"></span>

            <div class="form-control">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" autocomplete="username" aria-required="true" />
            </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            
            <div class="form-control">
                <label asp-for="Surname"></label>
                <input asp-for="Surname" class="form-control" autocomplete="username" aria-required="true" />

            </div>
            <span asp-validation-for="Surname" class="text-danger"></span>

            <div class="form-control">
                <label asp-for="GenderId" class="control-label"></label>
                <select asp-for="GenderId" class ="form-control" asp-items="ViewBag.GenderId"></select>
            </div>
            <div class="form-control">
                <label asp-for="RoleName" class="control-label"></label>
                <select asp-for="RoleName" class ="form-control" asp-items="ViewBag.RoleName"></select>
            </div>
            <div class="form-control">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
            </div>
                <span asp-validation-for="Password" class="text-danger"></span>
             <div>      
                <input type="submit" value="Register" class="btn btn-primary" />

            </div>

        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
