@{
    ViewData["Title"] = "Trip Confirmed";
}
<h1>@ViewData["Title"]</h1>

<p>Succesfully created new trip request.</p>
<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Booklets">Back to Booklet Applications</a>
</div>